# ðŸ§º Online Retail Dataset (Apriori Preprocessing) - TASK 2
**Dataset**: https://www.kaggle.com/datasets/vijayuv/onlineretail
<center><b><h1>Viraj Odedra | 23010101178 | 334 </b></center>

# Step 1: Load Data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('OnlineRetail.csv', encoding = 'ISO-8859-1')
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Step 2: Drop Missing Invoices or Descriptions

In [5]:
data2 = pd.read_csv('OnlineRetail.csv', encoding = 'ISO-8859-1')

# df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
# removes the row where the mising value (null). if how = all it removes the column when all data is null.
data_after_process = data2.dropna(how = 'any' ,subset = ["InvoiceNo", "Description"])
data_after_process

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Step 3: Remove Canceled Invoices <BR> Start with letter 'c'

In [7]:
invoice_in_str = data_after_process['InvoiceNo'].astype(str)

temp = []  

for invoice in invoice_in_str :
    if(invoice.startswith('C')) :
        temp.append(True)
    else:
        temp.append(False)

print("Number of canceled invoices:", temp.count(True))

flag_list = []
for flag in temp :
    flag_list.append(not flag)

remaining_data = data_after_process[flag_list]
remaining_data

Number of canceled invoices: 9288

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Step 4: Keep Only Positive Quantities

In [60]:
positive_data = remaining_data.query('Quantity > 0')

# data_after_process = positive_data.drop(positive_data.index)
# data_after_prccess

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Step 5: Standardize Item Descriptions | Lower case and remove space

In [62]:
positive_data = positive_data.copy()  # used to solve the error
positive_data['Description'] = positive_data['Description'].str.lower()
positive_data['Description'] = positive_data['Description'].str.replace(' ', '')
positive_data


# or 
# positive_data.loc[:, 'Description'] = (
#     positive_data['Description']
#     .str.lower()
#     .str.replace(' ', '')
# )

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,whitehangingheartt-lightholder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,whitemetallantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,creamcupidheartscoathanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knittedunionflaghotwaterbottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,redwoollyhottiewhiteheart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,packof20spaceboynapkins,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,children'saprondollygirl,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,childrenscutlerydollygirl,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,childrenscutlerycircusparade,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,bakingset9pieceretrospot,3,12/9/2011 12:50,4.95,12680.0,France

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,pack of 20 spaceboy napkins,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,children's apron dolly girl,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,childrens cutlery dolly girl,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,childrens cutlery circus parade,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,baking set 9 piece retrospot,3,12/9/2011 12:50,4.95,12680.0,France

# Step 6: Filter for a Single Country (e.g., United Kingdom)

In [15]:
data_uk_filtered = positive_data.query("Country == 'United Kingdom'")
data_uk_filtered

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,whitehangingheartt-lightholder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,whitemetallantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,creamcupidheartscoathanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knittedunionflaghotwaterbottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,redwoollyhottiewhiteheart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,fairytalecottagenightlight,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,largecakestandhangingstrawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,setof3hangingowlsolliebeak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,redretrospotroundcaketins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,doormatredretrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,fairy tale cottage night light,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,large cake stand hanging strawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,set of 3 hanging owls ollie beak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,red retrospot round cake tins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,doormat red retrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom

# Step 7: Remove Duplicates

In [17]:
pure_data = data_uk_filtered.drop_duplicates()
pure_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,whitehangingheartt-lightholder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,whitemetallantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,creamcupidheartscoathanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knittedunionflaghotwaterbottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,redwoollyhottiewhiteheart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,fairytalecottagenightlight,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,largecakestandhangingstrawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,setof3hangingowlsolliebeak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,redretrospotroundcaketins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,doormatredretrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,fairy tale cottage night light,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,large cake stand hanging strawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,set of 3 hanging owls ollie beak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,red retrospot round cake tins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,doormat red retrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom

# Step 8: Add TotalPrice column , TotalPrice = Quantity *  UnitPrice

In [19]:
data_step_8 = pure_data.copy()
data_step_8['TotalPrice'] = data['Quantity'] * data['UnitPrice']
data_step_8

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,whitehangingheartt-lightholder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,whitemetallantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,creamcupidheartscoathanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,knittedunionflaghotwaterbottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,redwoollyhottiewhiteheart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541889,581585,22466,fairytalecottagenightlight,12,12/9/2011 12:31,1.95,15804.0,United Kingdom,23.40
541890,581586,22061,largecakestandhangingstrawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom,23.60
541891,581586,23275,setof3hangingowlsolliebeak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom,30.00
541892,581586,21217,redretrospotroundcaketins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom,214.80
541893,581586,20685,doormatredretrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom,70.80

/var/folders/by/8_8v2yf54c11829sxdn1r3400000gn/T/ipykernel_10486/2868551681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541889,581585,22466,fairy tale cottage night light,12,12/9/2011 12:31,1.95,15804.0,United Kingdom,23.40
541890,581586,22061,large cake stand hanging strawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom,23.60
541891,581586,23275,set of 3 hanging owls ollie beak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom,30.00
541892,581586,21217,red retrospot round cake tins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom,214.80
541893,581586,20685,doormat red retrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom,70.80

# Step 9 : Check for Top 10 Selling Products

In [78]:
top_data = pure_data.groupby('Description')['Quantity'].sum().sort_values(ascending = False).head(10)
top_data

Description
papercraft,littlebirdie           80995
mediumceramictopstoragejar        77036
worldwar2glidersasstddesigns      49430
jumbobagredretrospot              44165
whitehangingheartt-lightholder    35726
popcornholder                     34726
assortedcolourbirdornament        33636
packof12londontissues             25315
packof72retrospotcakecases        24963
victorianglasshangingt-light      23663
Name: Quantity, dtype: int64

white hanging heart t-light holder    2218
jumbo bag red retrospot               1957
regency cakestand 3 tier              1702
party bunting                         1607
lunch bag red retrospot               1409
assorted colour bird ornament         1391
set of 3 cake tins pantry design      1248
lunch bag  black skull.               1244
natural slate heart chalkboard        1225
heart of wicker small                 1181
Name: Description, dtype: int64

# Step 10 : Identify Most Active Customers

In [81]:
top_products = pure_data.groupby('Description')['Quantity'].count()
top_products = top_products.sort_values(ascending=False)
top_products.head(10)


# top_products2 = pure_data.groupby('InvoiceNo').max()
# top_products

Description
whitehangingheartt-lightholder    2220
jumbobagredretrospot              1957
regencycakestand3tier             1702
partybunting                      1608
lunchbagredretrospot              1409
assortedcolourbirdornament        1392
setof3caketinspantrydesign        1248
lunchbagblackskull.               1244
naturalslateheartchalkboard       1225
lunchbagsukidesign                1221
Name: Quantity, dtype: int64

17841.0    7675
14096.0    5109
12748.0    4411
14606.0    2677
15311.0    2366
13089.0    1814
13263.0    1667
14298.0    1637
15039.0    1477
18118.0    1263
Name: CustomerID, dtype: int64

# Step 11: Time-Based Analysis | Convert InvoiceDate to datetime and check popular months/hours.

In [38]:
data['InvoiceMonth']=pd.to_datetime(data['InvoiceDate']).dt.month.value_counts().sort_index()
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceMonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,35147.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,27707.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,36748.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,29916.0
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,NaN
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,NaN
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,NaN
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,NaN
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,NaN

# Step 12: Convert to Basket Format

Example
<table border="1">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Milk</th>
            <th>Bread</th>
            <th>Butter</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>T1</td><td>1</td><td>1</td><td>1</td></tr>
        <tr><td>T2</td><td>0</td><td>1</td><td>1</td></tr>
        <tr><td>T3</td><td>1</td><td>0</td><td>0</td></tr>
        <tr><td>T4</td><td>1</td><td>1</td><td>0</td></tr>
        <tr><td>T5</td><td>0</td><td>1</td><td>1</td></tr>
    </tbody>
</table>

Description,*boombox ipod classic,*usb office mirror ball,10 colour spaceboy pen,12 coloured party balloons,12 daisy pegs in wood box,12 egg house painted wood,12 hanging eggs hand painted,12 ivory rose peg place settings,12 message cards with envelopes,12 pencil small tube woodland,...,zinc star t-light holder,zinc sweetheart soap dish,zinc sweetheart wire letter rack,zinc t-light holder star large,zinc t-light holder stars large,zinc t-light holder stars small,zinc top 2 door wooden shelf,zinc willie winkie candle stick,zinc wire kitchen organiser,zinc wire sweetheart letter tray
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
581586,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A563185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A563186,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A563187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Step:13 : Save Basket Format into CSV file